<div bsModal class="modal fade location-modal" id="myModal" #productModal="bs-modal" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header header">
                <!--<h4 class="modal-title"> {{ isEditModal ? 'Edit Location' : 'Create Location' }}</h4>-->
                <h4 class="modal-title">Add to list</h4>
            </div>
            <button (click)="hide()" type="button"
                    class="close pull-right btn btn-round btn-white modal-close-btn" data-dismiss="modal"
                    aria-label="Close"><i class="material-icons modal-close-icon">x</i></button>
            <div class="modal-body">
                <div class="row">

                    <ng-container *ngIf="variant && product">
                        <div *ngFor="let productList of productLists">
                            <product-item-create [variant]="variant" [product]="product" [productList]="productList"></product-item-create>
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</div>