<div bsModal class="modal fade location-modal" id="myModal" #eventListModal="bs-modal" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header header">
                <!--<h4 class="modal-title"> {{ isEditModal ? 'Edit Location' : 'Create Location' }}</h4>-->
                <h4 class="modal-title">Event List</h4>
            </div>
            <button (click)="hide()" type="button"
                    class="close pull-right btn btn-round btn-white modal-close-btn" data-dismiss="modal"
                    aria-label="Close"><i class="material-icons modal-close-icon">x</i></button>
            <div class="modal-body">
                <div class="row">
                    <form novalidate [formGroup]="eventListForm"
                          (ngSubmit)="save(eventListForm.valid);" class="form-horizontal">
                        <input type="text" placeholder="Event List Title" formControlName="title" [(ngModel)]="eventList.Title">
                        <ng-container *ngIf="eventListForm.controls['title'].dirty">
                            <div *ngIf="!eventListForm.controls['title'].valid && eventListForm.controls['title'].hasError('required')">Title is required</div>
                            <div *ngIf="!eventListForm.controls['title'].valid && eventListForm.controls['title'].hasError('InvalidSymbol')">
                                Invalid symbols
                            </div>
                        </ng-container>

                        <input type="text" placeholder="Description" formControlName="description" [(ngModel)]="eventList.Description">
                        <ng-container *ngIf="eventListForm.controls['description'].dirty">
                            <div *ngIf="!eventListForm.controls['description'].valid && eventListForm.controls['description'].hasError('required')"> Description is required</div>
                            <div *ngIf="!eventListForm.controls['description'].valid && eventListForm.controls['description'].hasError('InvalidSymbol')">
                                Invalid symbols
                            </div>
                        </ng-container>
                        <select id="customerSelect" class="form-control select2"
                                required
                                formControlName="customerSelect">
                        </select>
                        <ng-container *ngIf="eventListForm.controls['customerSelect'].dirty">
                            <div *ngIf="!eventListForm.controls['customerSelect'].valid && eventListForm.controls['customerSelect'].hasError('required')">Customer is required</div>
                        </ng-container>

                        <select id="productListSelect" class="form-control select2" multiple="multiple"
                                required
                                name="productListSelect">
                        </select>

                        <button class="btn btn-primary" type="submit">Save</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>