<div class="row">
    <div class="col-4">
        <button class="btn btn-primary" (click)="modal.show()">Create</button>
    </div>
    <div class="col-8">
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let eventList of eventLists">
                <div>{{eventList.Title}}</div>
                <div>{{eventList.OwnerFullName}}</div>
                <button (click)="modal.show(eventList)">edit</button>
                <button (click)="delete(eventList)">delete</button>
            </li>
        </ul>
    </div>
</div>

<event-list-modal #eventListModal (eventListChange)="updateEventLists($event)"></event-list-modal>