<div bsModal class="modal fade location-modal" id="myModal" #productListModal="bs-modal" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header header">
                <!--<h4 class="modal-title"> {{ isEditModal ? 'Edit Location' : 'Create Location' }}</h4>-->
                <h4 class="modal-title">Product List</h4>
            </div>
            <button (click)="hide()" type="button"
                    class="close pull-right btn btn-round btn-white modal-close-btn" data-dismiss="modal"
                    aria-label="Close"><i class="material-icons modal-close-icon">x</i></button>
            <div class="modal-body">
                <div class="row">
                    <form novalidate [formGroup]="productListForm"
                          (ngSubmit)="save(productListForm.valid);" class="form-horizontal">

                        <input type="text" placeholder="Product List Title" formControlName="title" [(ngModel)]="productList.Title">
                        <div *ngIf="!productListForm.controls['title'].valid && (productListForm.controls['title'].touched || isSend)">Title is required</div>

                        <select id="customerSelect" class="form-control select2"
                                formControlName="customerSelect">
                        </select>
                        <div *ngIf="!productListForm.controls['customerSelect'].valid && (productListForm.controls['customerSelect'].touched || isSend)">Customer is required</div>

                        <button type="submit">save</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>